body {
    width: 100%;
    height: 100%;
}

#input-container {
    display: block;
    position: fixed;
    background-color: rgba(50, 50, 50, 0.2);
    padding: 7;
}

#visualizer-container {
    width: 100%;
    height: 100%;
}
